.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.badge {
  background: $nav-bg-color !important;
}

:root {
  --animate-duration: .3s !important;
}

.navIntraTool {

}

button:not(.btn-primary),
a:not(.btn-primary).button,
input[type="submit"]:not(.active),
.Mrphs-toolTitleNav .Mrphs-toolTitleNav__link {
  background: $white !important;
  /*box-shadow: 0 2px 5px -5px black !important;*/
  /*border: 1px solid #d2d6da !important;*/
}

li.tab-btn.active,
.navIntraTool li span.current {
  color: $primary !important;
  border-top: none !important;
  border-right: none !important;
  font-weight: 600;
  border-left: none !important;
  padding: 0 20px !important;
  border-bottom: 3px solid $primary !important;
}

li.tab-btn:not(.active):hover,
.navIntraTool li span a:hover {
  border-bottom: 2px solid $tab-hover-color !important;
}

li.tab-btn,
.navIntraTool li span a {
  border: none !important;
  padding: 0 20px !important;
  background: initial !important;
}

li.tab-btn:before,
.navIntraTool li span a:before,
.navIntraTool li span.current:before {
  display: none !important;
}

.textPanelHeader a[href] {
  color: $primary;
}

.textPanelHeader a[href]:hover {
  color: $nav-bg-color;
}


#selectSite .tab-bar .tab-btn.active:before, #selectQuickLink .tab-bar .tab-btn.active:before {
  border-color: $primary !important;
}

#selectSite .tab-bar .tab-btn.active, #selectQuickLink .tab-bar .tab-btn.active {
  color: $primary !important;
  font-weight: 500;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}


.Mrphs-pagebody {
  padding: 20px 20px 0 20px !important;
}

.dark-mode-toggle:hover {
  color: white !important;
  text-shadow: 0 0 10px white;
}


.checklistLabel {
  font-weight: 500 !important;
}

.Mrphs-sitesNav__menuitem.view-all-sites-btn {
  cursor: pointer !important;
}

body, .itemclass, .link-div,
h1, h2, h3, h4, h5, h6,
#linkNav ul, a:not(.Mrphs-sitesNav__dropdown):not(.Mrphs-sitesNav__favbtn):not(.fa),
input, button {
  font-family: "Inter", sans-serif !important;
}

.itemclass h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif !important;
  font-weight: 700 !important;
}

.itemclass h1 {
  color: $nav-bg-color !important;
}

.Mrphs-mainHeader .Mrphs-headerLogo {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(21 0 37) 0%, rgba(32, 45, 58, 1) 81.3%) !important;
}

#toolMenu ul li .Mrphs-toolsNav__menuitem--link .Mrphs-toolsNav__menuitem--title, #subSites ul li .Mrphs-toolsNav__menuitem--link .Mrphs-toolsNav__menuitem--title {
  color: $sidebar-menu-active-text-color;
}

.modal-backdrop.fade.in, .modal-backdrop.fade {
  background-color: #000 !important;
  z-index: 11000 !important;
}

#toolMenu ul li .Mrphs-toolsNav__menuitem--link .Mrphs-toolsNav__menuitem--icon, #subSites ul li .Mrphs-toolsNav__menuitem--link .Mrphs-toolsNav__menuitem--icon {
  color: #0078ff !important;
}

/*Home panels*/
.Mrphs-multipleTools .Mrphs-container.Mrphs-toolTitleNav.Mrphs-container.Mrphs-container--toolTitleNav {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  h2 {
    margin-left: 10px !important;
  }
}

.Mrphs-toolTitleNav.Mrphs-container--toolTitleNav {
  margin-left: 10px !important;
}

.Mrphs-toolTitleNav.Mrphs-container.Mrphs-container--toolTitleNav,
.Mrphs-multipleTools .Mrphs-container .Mrphs-container--toolTitleNav {
  background-color: $white !important;
  border-bottom: 0 !important;
}


.Mrphs-multipleTools .Mrphs-container {
  border-radius: 10px !important;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
}

.Mrphs-toolTitleNav.Mrphs-container--toolTitleNav {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.Mrphs-multipleTools .Mrphs-container .Mrphs-toolBody {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.Mrphs-multipleTools .Mrphs-container .Mrphs-toolBody {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* Override link colors */
#toolMenu ul li.is-current .Mrphs-toolsNav__menuitem--link, #subSites ul li.is-current .Mrphs-toolsNav__menuitem--link,
#toolMenu ul li.is-current .Mrphs-toolsNav__menuitem--link .Mrphs-toolsNav__menuitem--icon, #subSites ul li.is-current .Mrphs-toolsNav__menuitem--link .Mrphs-toolsNav__menuitem--icon,
#toolMenu ul li .Mrphs-toolsNav__menuitem--link:hover .Mrphs-toolsNav__menuitem--icon, #toolMenu ul li .Mrphs-toolsNav__menuitem--link:focus .Mrphs-toolsNav__menuitem--icon, #subSites ul li .Mrphs-toolsNav__menuitem--link:hover .Mrphs-toolsNav__menuitem--icon, #subSites ul li .Mrphs-toolsNav__menuitem--link:focus .Mrphs-toolsNav__menuitem--icon,
#linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:hover .toolMenuIcon, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:active .toolMenuIcon, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:focus .toolMenuIcon, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:hover .toolMenuIcon, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:active .toolMenuIcon, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:focus .toolMenuIcon,
.Mrphs-siteHierarchy a.Mrphs-hierarchy--toolName {
  color: $primary !important;
}

// minimized sidebar
@media only screen and (min-width: 801px) {
  body.Mrphs-toolMenu-collapsed:not(.tool-maximised) #toolMenuWrap {
    min-width: 55px !important;
  }

  body.Mrphs-toolMenu-collapsed:not(.tool-maximised) #toolMenu ul li .Mrphs-toolsNav__menuitem--link:hover .Mrphs-toolsNav__menuitem--title, body.Mrphs-toolMenu-collapsed:not(.tool-maximised) #toolMenu ul li .Mrphs-toolsNav__menuitem--link:focus .Mrphs-toolsNav__menuitem--title, body.Mrphs-toolMenu-collapsed:not(.tool-maximised) #subSites:not(.floating) ul li .Mrphs-toolsNav__menuitem--link:hover .Mrphs-toolsNav__menuitem--title, body.Mrphs-toolMenu-collapsed:not(.tool-maximised) #subSites:not(.floating) ul li .Mrphs-toolsNav__menuitem--link:focus .Mrphs-toolsNav__menuitem--title {
    border-radius: 7px !important;
    margin-left: 0 !important;
    border: none !important;
  }
  body.Mrphs-toolMenu-collapsed:not(.tool-maximised) #toolMenu ul li.is-current .Mrphs-toolsNav__menuitem--link:hover .Mrphs-toolsNav__menuitem--title, body.Mrphs-toolMenu-collapsed:not(.tool-maximised) #subSites:not(.floating) ul li.is-current .Mrphs-toolsNav__menuitem--link:hover .Mrphs-toolsNav__menuitem--title {
    background: inherit !important;
  }
}

#linkNav ul li.Mrphs-sitesNav__menuitem .link-container {
  border-radius: 7px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#toolMenu ul li .Mrphs-toolsNav__menuitem--link:hover, #toolMenu ul li .Mrphs-toolsNav__menuitem--link:focus, #subSites ul li .Mrphs-toolsNav__menuitem--link:hover, #subSites ul li .Mrphs-toolsNav__menuitem--link:focus {
  border-radius: 7px !important;
}

.Mrphs-sitesNav__dropdown, .Mrphs-sitesNav__favbtn {
  display: none !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:hover, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:active, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:focus, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:hover, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:active, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:focus {
  color: #6b0eff !important;
  font-weight: 600 !important;
}

a.btn-primary,
button.btn-primary, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected, .act .active,
#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected .link-container, #linkNav ul li.Mrphs-sitesNav__menuitem.is-selected .Mrphs-sitesNav__dropdown, #linkNav ul li.Mrphs-sitesNav__menuitem.is-selected .Mrphs-sitesNav__favbtn {
  background: $nav-bg-color !important;
  //border-color: #5502db !important;
  border: none !important;
  border-radius: 7px !important;
  color: white !important;
}

a.btn-primary:hover,
button.btn-primary:hover, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button:hover, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected:hover, button.btn-primary:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button:focus, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected:focus, .act .active:hover, .act .active:focus,
#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected .link-container:hover, #linkNav ul li.Mrphs-sitesNav__menuitem.is-selected .Mrphs-sitesNav__dropdown:hover, #linkNav ul li.Mrphs-sitesNav__menuitem.is-selected .Mrphs-sitesNav__favbtn:hover {
  background: #8025ff !important;
  color: white !important;
}

#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected {
  background: none !important;
}

#toolMenu ul li.is-current .Mrphs-toolsNav__menuitem--link:before, #subSites ul li.is-current .Mrphs-toolsNav__menuitem--link:before,
#linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:hover:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:active:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:focus:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:hover:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:active:before, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:focus:before,
.navIntraTool li span.current:before {
  /*border-color: $primary !important;*/
  border: none !important;
}


#toolMenu ul li.is-current .Mrphs-toolsNav__menuitem--link, #subSites ul li.is-current .Mrphs-toolsNav__menuitem--link {
  background-color: $sidebar-menu-active-bg-color !important;
  border-radius: 7px !important;
  border: none !important;
}

#toolMenu ul li.is-current, #subSites ul li.is-current {
  margin: 1px 0 !important;
}

.Mrphs-toolsNav__menuitem--link:not(.is-current) {
  margin: 0 7px !important;
}


/*Sidebar link (NON-ACTIVE) left tab bar */
#toolMenu ul li .Mrphs-toolsNav__menuitem--link:hover:before, #toolMenu ul li .Mrphs-toolsNav__menuitem--link:focus:before, #subSites ul li .Mrphs-toolsNav__menuitem--link:hover:before, #subSites ul li .Mrphs-toolsNav__menuitem--link:focus:before {
  border-left: none !important;
}

a[href]:focus {
  outline: none !important;
}


table a[href]:not(.btn-primary),
.attachList a[href],
.subpage-breadcrumb-div a[href] {
  color: $primary !important;
  text-decoration: none !important;
}

table a[href]:not(.btn-primary):hover,
.attachList a[href]:hover,
.subpage-breadcrumb-div a[href]:hover {
  color: $link-hover-color !important;
}


/* Sidebar font weight active link */
#toolMenu ul li.is-current .Mrphs-toolsNav__menuitem--link .Mrphs-toolsNav__menuitem--title, #subSites ul li.is-current .Mrphs-toolsNav__menuitem--link .Mrphs-toolsNav__menuitem--title {
  font-weight: 600 !important;
  border: none !important;
}


.Mrphs-mainHeader .Mrphs-headerLogo {
  width: 100% !important;
  padding: 0 10px !important;
  height: 52px !important;
  /*background: #515151 !important;*/
}

.sakai-table-toolBar .sakai-table-pagerControls label {
  display: none !important;
}

.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution {
  background: url(#{$logoUrl}) no-repeat center center !important;
}

.form-control::-ms-expand {
  background-color: transparent !important;
  border: 0 !important;
}

.tablesorter-filter.form-control {
  height: 27px !important;
}


a[href] {
  text-decoration: none !important;
}

.itemAction {
  top: 0 !important;
}

/* Custom Editing of Site Name*/
ul.favoriteSiteList > li, #selectQuickLink > li {
  width: 365px !important;
}

/*active colour*/
.button_color:focus, input:focus[type="submit"], .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate > a.paginate_button:focus, input:focus[type="button"], input:focus[type="reset"], button:not(.fc-button):focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .paginate_button:not(.fc-button):focus, .Mrphs-sakai-samigo #authorIndexForm\:remove-selected:not(.fc-button):focus, .button:focus, #mastLogin #loginForm .Mrphs-loginForm__button:focus, .Mrphs-siteStatus.is-unpublished button:focus, .Mrphs-siteStatus.is-unpublished .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .paginate_button:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .Mrphs-siteStatus.is-unpublished .paginate_button:focus, .Mrphs-siteStatus.is-unpublished .Mrphs-sakai-samigo #authorIndexForm\:remove-selected:focus, .Mrphs-sakai-samigo .Mrphs-siteStatus.is-unpublished #authorIndexForm\:remove-selected:focus, .lessonsToolButton:focus, .Mrphs-sakai-message-bundle-manager .dataTables_wrapper table a:focus[role="button"], ul#otherSitesMenu li:not(.otherSitesMenuClose) a:focus, #cookie-notice #cookie-notice-close:focus, a[href].button:focus, #mastLogin #loginForm a.Mrphs-loginForm__button[href]:focus, a.lessonsToolButton[href]:focus, .Mrphs-sakai-message-bundle-manager .dataTables_wrapper table a[href]:focus[role="button"], ul#otherSitesMenu li:not(.otherSitesMenuClose) a[href]:focus, #cookie-notice a#cookie-notice-close[href]:focus, button.ui-state-default:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .ui-state-default.paginate_button:focus, .Mrphs-sakai-samigo .ui-state-default#authorIndexForm\:remove-selected:focus, .btn-group .btn:focus, .btn.btn-default:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span a.btn.paginate_button:focus, .button.link:focus, #mastLogin #loginForm .link.Mrphs-loginForm__button:focus, .Mrphs-siteStatus.is-unpublished button.link:focus, .Mrphs-siteStatus.is-unpublished .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .link.paginate_button:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .Mrphs-siteStatus.is-unpublished .link.paginate_button:focus, .Mrphs-siteStatus.is-unpublished .Mrphs-sakai-samigo .link#authorIndexForm\:remove-selected:focus, .Mrphs-sakai-samigo .Mrphs-siteStatus.is-unpublished .link#authorIndexForm\:remove-selected:focus, .link.lessonsToolButton:focus, .Mrphs-sakai-message-bundle-manager .dataTables_wrapper table a.link:focus[role="button"], ul#otherSitesMenu li:not(.otherSitesMenuClose) a.link:focus, #cookie-notice .link#cookie-notice-close:focus, a.btn-link:focus, button.btn-link:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-link.paginate_button:focus, .Mrphs-sakai-samigo .btn-link#authorIndexForm\:remove-selected:focus {
  outline: none !important;
}

.tablesorter-icon.glyphicon.glyphicon-chevron-down,
.tablesorter-icon.glyphicon.glyphicon-chevron-up,
.tablesorter-icon.bootstrap-icon-unsorted {
  display: none !important;
}


.Mrphs-sakai-announcements .message-body {
  background-color: #f9fbfd !important;
  border: 1px solid #e3ebf6 !important;
}

/*#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected .link-container:active {*/
/*    background: #5909d4 !important;*/
/*}*/

.subpage-breadcrumb-div {
  margin-bottom: 1.5rem !important;
  box-shadow: 0 0.75rem 1.5rem rgb(239 239 239) !important;
  padding: 10px 10px 10px 30px !important;
  border-radius: 3px !important;
  border: solid 1px #edf2f9 !important;
}

/* Disabled button */
button.btn-primary[disabled="disabled"], .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="disabled"], .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="disabled"], button.btn-primary[disabled="disabled"]:hover, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="disabled"]:hover, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="disabled"]:hover, button.btn-primary[disabled="disabled"]:active, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="disabled"]:active, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="disabled"]:active, button.btn-primary[disabled="disabled"]:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="disabled"]:focus, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="disabled"]:focus, button.btn-primary[disabled], .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled], .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled], button.btn-primary[disabled]:hover, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled]:hover, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled]:hover, button.btn-primary[disabled]:active, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled]:active, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled]:active, button.btn-primary[disabled]:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled]:focus, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled]:focus, button.btn-primary[disabled="true"], .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="true"], .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="true"], button.btn-primary[disabled="true"]:hover, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="true"]:hover, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="true"]:hover, button.btn-primary[disabled="true"]:active, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="true"]:active, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="true"]:active, button.btn-primary[disabled="true"]:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="true"]:focus, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="true"]:focus, button.btn-primary[class="disabled"], .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[class="disabled"], .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[class="disabled"], button.btn-primary[class="disabled"]:hover, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[class="disabled"]:hover, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[class="disabled"]:hover, button.btn-primary[class="disabled"]:active, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[class="disabled"]:active, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[class="disabled"]:active, button.btn-primary[class="disabled"]:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[class="disabled"]:focus, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[class="disabled"]:focus, .act .active[disabled="disabled"], .act .active[disabled="disabled"]:hover, .act .active[disabled="disabled"]:active, .act .active[disabled="disabled"]:focus, .act .active[disabled], .act .active[disabled]:hover, .act .active[disabled]:active, .act .active[disabled]:focus, .act .active[disabled="true"], .act .active[disabled="true"]:hover, .act .active[disabled="true"]:active, .act .active[disabled="true"]:focus, .act .active[class="disabled"], .act .active[class="disabled"]:hover, .act .active[class="disabled"]:active, .act .active[class="disabled"]:focus {
  background: #f2f2f2 !important;
  color: #4c4b4b !important;
  border: solid 1px #edf2f9 !important;
}


.progress-bar.progress-bar-empty {
  background: rgb(238, 246, 254) !important;
  /*background-image: radial-gradient(circle 1224px at 10.6% 8.8%, rgba(255, 255, 255, 1) 0%, rgba(153, 202, 251, 1) 100.2%) !important;*/
}

.progress-bar.progress-bar-active.progress-bar-active {
  background-image: radial-gradient(circle 523px at 7.1% 19.3%, rgba(147, 15, 255, 1) 2%, rgba(5, 49, 255, 1) 100.7%) !important;
}

.progress-bar.progress-bar-active.progress-bar-active + .progress-bar.progress-bar-active.progress-bar-active {
  background-image: radial-gradient(circle 523px at 7.1% 19.3%, rgba(5, 49, 255, 1) 2%, rgba(147, 15, 255, 1) 100.7%) !important;
}

.progress-bar.progress-bar-active.progress-bar-active + .progress-bar.progress-bar-active.progress-bar-active + .progress-bar.progress-bar-active.progress-bar-active {
  background-image: radial-gradient(circle 523px at 7.1% 19.3%, rgba(147, 15, 255, 1) 2%, rgba(5, 49, 255, 1) 100.7%) !important;
}

.progress:nth-child(2) {
  color: blue !important;
}


.Mrphs-sakai-lessonbuildertool .portletBody .column {
  background-clip: border-box !important;
  border: 1px solid #edf2f9 !important;
  border-radius: .5rem !important;
  box-shadow: 0 .5rem 1rem rgba(18, 38, 63, .15) !important;
}

///* hover link bg*/
//#toolMenu ul li .Mrphs-toolsNav__menuitem--link:hover, #toolMenu ul li .Mrphs-toolsNav__menuitem--link:focus, #subSites ul li .Mrphs-toolsNav__menuitem--link:hover, #subSites ul li .Mrphs-toolsNav__menuitem--link:focus,
//#linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:hover, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:active, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:focus, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:hover, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:active, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:focus {
//  background: #faf1fd !important;
//}


/** Forms */
.form-control {
  display: block !important;
  width: 100% !important;
  padding: .375rem .75rem !important;
  font-weight: normal !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 2px solid #dde2ec !important;
  border-radius: 4px !important;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}


/*ghost white*/
.table > thead > tr > th {
  background-color: #f9fbfd !important;
}

.form-control:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: $nav-bg-color !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.Mrphs-multipleTools .Mrphs-toolTitleNav .Mrphs-toolTitleNav__title {
  color: $text-color !important;
  font-size: 1.2em !important;
}

.form-control::-webkit-input-placeholder {
  color: #636c72 !important;
  opacity: 1 !important;
}

.form-control::-moz-placeholder {
  color: #636 !important;
  opacity: 1
}

.form-control::-ms-input-placeholder {
  color: #636c72 !important;
  opacity: 1 !important;
}

.form-control::placeholder {
  color: #636c72 !important;
  opacity: 1 !important;
}


.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1 !important;
}

#mastLogin #loginForm {
  border-left: 1px solid #5f5f5f;
  padding-left: 15px !important;
  margin-left: 15px !important;
}

.Mrphs-container--toolTitleNav,
.Mrphs-toolBody, .portletBody {
  padding-left: 10px !important;
}

.Mrphs-toolTitleNav.Mrphs-container.Mrphs-container--toolTitleNav {
  padding-left: 10px !important;
}

.Mrphs-toolTitleNav {
  padding-left: 10px !important;
}
