// This file contains all the variables for Falcon's LIGHT theme
$primary:  #6400ff;
$nav-bg-color: $primary;
$primary-darker: #4c00c1;
$text-color: #222222;
$white: #fff;
$tab-hover-color: #ccd5db;
$sidebar-menu-active-bg-color: #ececec;
$sidebar-menu-active-text-color: #3f4b5b;
$link-hover-color: #4b00ba;
