/* tool-base.css  - base values - focus on positioning, margins, paddings
- all skins can participate in these shared definitions
- and still style things differently in their skin*/
@media print  {
    body {
        font-size: 9pt !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    h3, h4, h5, h6{
        width: 50%;
    }

    .itemAction, .act, .navPanel, .screenOnly {
        display: none;
    }

    a:link, a:visited{
        text-decoration: underline !important;
    }

    table{
        font-size: inherit !important;
    }

    .listHier th {
        background: #fff !important;
        font-weight: bold !important;
        border-bottom: 1px dashed #555;
    }

    .portletBody {
        padding: 0 !important;
    }

}
/* SECTION 1 - STANDARD COMPONENTS*/
body{
    padding: 0;
    margin: 0;
}

hr{
    height: 0;
}

h3,h4,h5, h6{
    padding: .2em 0;
}

a img{
    border: 0;
}

fieldset{
    border: none;
    margin-top: 1em;
    padding: 0;
}

legend{
    font-weight: bold;
    color: #000;
    font-size: 100%;
    margin-left: 0;
    padding-left: 0;
}

iframe{
    margin-top: 2px;
}

table{
    font-size: 1em;
}
code {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:1em;
}

/* SECTION 2 - LAYOUT*/
/*only child of body (example: any tool)*/
.portletBody{
    padding: 1px 1px 1em 1px;
    border-width: 0px;
    border-color: #fff;
    border-style: solid;
}
.portletMainWrap > .portletBody {
    word-wrap:break-word
}
.portletMainWrap > .portletBody img {
    max-width: 100%;
    height: auto !important;
}
.helpBody {
    padding: 0 1em 1em 1em
}


/*for web content - 2 states of the body > div that used instead of div.portletBody in web content), with toolbar, without*/
/*see  a course site web contentn tool  - as instructor and as student - ends with a IE hack needed to make the make the bottom scrolbar (when present) behave.*/
/*the margin/padding adjustments for both are to avoid https://bugzilla.mozilla.org/show_bug.cgi?id=361768 they essentially tuck the iframe borders "underneath" the outside of the containing block*/
.wcwmenu{
    padding: .1em 0;
    margin: -.2em 0;
}
.wcwomenu{
    padding: 0;
    margin: -.1em 0 -1em 0;
}

* html #wciframe{
    margin-bottom:1em
}

/* SECTION 3 - TABULAR DATA LAYOUTS*/
/*itemSummary: table for displaying the details of an item - layout is th-td, th-td*/
/*see an announcement*/
.itemSummary, .itemSummaryLite{
    margin: .5em 0;
}

/*format the th - since jsf cannot do <th> vertically in a column,
 certain tds are classed (header) in jsf based tools to render the same as the th*/
.itemSummary th, .itemSummary td.header, .itemSummaryHeader, .itemSummaryLite td.header{
    font-weight: bold;
    color: #555;
    white-space: nowrap;
    vertical-align: top;
    text-align: left;
    padding: .3em 1em .3em .3em;
}

.itemSummaryHeader, .itemSummaryValue {
    padding: .3em 1em .3em .3em;
}

table.itemSummary td, td.itemSummaryLite{
    text-align: left;
    padding: .3em 1em;
    vertical-align: top;
}

table.itemSummary caption, caption.itemSummaryLite {
    text-align: left;
    font-weight: bold;
    padding: 1em 0 0 0;
}

/*table and cells for displaying a flat or hierarchical list of tabular data*/
/*see an annoucement, assignment list*/
table.listHier{
    font-size: 1em;
    width: 100%;
    clear: both;
    margin-top: .5em;
    border:none; /*keep ff from giving it a border*/
}

table.listHier th{
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    padding: .3em;
}

table.listHier td{
    padding: .3em;
}

table.listHier td img{
    margin-right: .2em;
    vertical-align: text-top;
}

table.listHier td a:hover,
table.listHier th a:hover{
    text-decoration: none;
}

/*a column in a table that contains only a very small icon - all cells in the column have that class */
/*see an announcement list where one announcement has an attachment*/
table.listHier .attach{
    width: 24px;
}

/*make the currently sorted column header text bold,apply to <th> tag*/
/*see gradebook roster*/
.currentSort{
    font-weight: bold;
}

/*make the not currently sorted column header text not bold,apply to <th> tag*/
/*see gradebook roster*/
.notCurrentSort{
    font-weight: normal;
    text-decoration: none;
}

/*list used everywhere to list attachments to an item*/
/*see an announcement with attachments*/
ul.attachList{
    margin: 1em 0;
    padding: 0;
}

ul.attachList img{
    vertical-align: middle;
    margin: 0 1em 0 0;
}

ul.attachList li{
    list-style: none;
    margin: 0 0 .3em 0;
}

/*SECTION 4 -  NAVIGATION */
/*navPanel is the parent of any navigation subpanel - provides for clearing the floats of the inner pannels, styling of pannel groups*/
/*see announcement list*/
.navPanel{
    clear: both;
    margin: 5px 0 0 0;
    overflow: hidden;
    height: 100%;
}

/*searchNav panel has a special text input*/
.searchNav input.searchField{
    background-color: #fff;
    padding: 2px;
}

/*for abc or 123 navigators*/
/*not sure where used - samigo?*/
span.abc{
    letter-spacing: .2em;
    color: #555;
}

span.abc a:hover{
    font-weight: bold;
    color: maroon;
    text-decoration: none;
}

span.abc a,span.abc a:link{
    font-weight: bold;
}

/*navigator for a view's global actions (i.e. actions not associated with particular items)*/
/*used in samigo - gradebook*/
.navViewAction{
    background-color: #CCC;
    text-align: center;
    font-size: .8em;
    padding: .3em;
    vertical-align: middle;
}

table.discTria img, .topicHeadings img,  .msgHeadings img{
    vertical-align: text-top;
    margin:0 .3em;
}
.discTria h4{
    display:inline;
}
.discTria .itemAction a{
    border:1px solid #555 !important;
    padding:.3em .6em !important;
    background:#eee;

}
.discTria .itemAction a:hover{
    border:1px solid #555 !important;
    background:#fff;
}


/*a block that contains a twistie and a title - used to hide then reveal optional elements*/
/*see or preview an assignment*/
.discTria{
    background-color: #CCC;
    padding: .3em;
}

/*block to act on items it is listed under*/
/*see list of links under an assignment in assignment list*/
.itemAction{
    font-size: .85em;
    font-family: verdana,arial;
    margin: .1em 0 0 .5em;
    line-height: 1.6em;
    color: #888;
    padding: 2px;
}

/*itemAction will become a list for 2.6*/
.itemAction li{
    list-style: none;
    display: inline;
}
h4 + div.itemAction{
    margin: .1em 0 0 1.5em;
}

/*SECTION 6 MESSAGES */
/*for status text in wizards
ie - site creation*/
.step{
    background-color: #eee;
    padding: .3em .5em;
}

/*for instructions*/
/*create an announcement*/
.instruction{
    line-height: 1.3em;
    margin: .5em 0;
}

/* indicate status change */
/*see: join or unjoin sites*/
.information{
    background-color: transparent;
    background-image: url('https://owl.uwo.ca/library/skin/images/info.gif');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    border: 1px solid #888;
    display: block;
    width: 80%;
    clear: both;
    color: #888;
    font-size: 1em;
    margin: 5px 0px;
    padding: 5px 5px 5px 25px !important;
}

/*indicate success*/
/*see: create a gradebook assignment*/
.success{
    background-color: #fff;
    background-image: url('https://owl.uwo.ca/library/skin/images/check.gif');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    border: 1px solid #4a4;
    display: block;
    width: 80%;
    clear: both;
    color: #000;
    font-size: 1em;
    margin: 5px 0px;
    padding: 5px 5px 5px 25px !important;
}

/*indicate failed validation, non-system errors*/
/*
/*see: create an announcement but "forget" to give it a title*/
ul.alertMessage{
    list-style-type: none;
}
/*yet another way to indicate a field that failed validation - treats just the label color via inheritance*/
/*create a resource but forget a required field*/
.validFail label{
    color: #b11 !important;
}

/*when displaying a validaiton failure inline (used with a span)*/
.alertMessageInline{
    background: #fff url(https://owl.uwo.ca/library/skin/images/warn.gif) 5px 5px no-repeat;
    border: 1px solid #b11;
    width: 80%;
    font-size: 1em;
    color: #b11;
    margin: 5px 0px 5px 0;
    padding: 5px 5px 5px 25px;
}

.error{
}

.fatalerror{
}

/*highlight certain texts*/
/*see: create a draft announcement - see the list*/
.highlight{
    font-weight:bold;
}

/*see: top of resources*/
.breadCrumb{
    clear: both;
    margin: 1em 0;
}

/*see: top of resources*/
h3 .breadCrumb{
    clear: both;
    font-size: .8em;
}

/* SECTION 5 INDENTING CLASSES:use these classes with <div> blocks to structure layout hierarchically.*/
.indnt0,.tier0{
    margin-left: 0;
}

.indnt1,.tier1{
    margin-left: 1em;
}

.indnt2,.tier2{
    margin-left: 2em;
}

.indnt3,.tier3{
    margin-left: 3em;
}

.indnt4,.tier4{
    margin-left: 4em;
}

.indnt5,.tier5{
    margin-left: 5em;
}

.indnt6,.tier6{
    margin-left: 6em;
}

.indnt7,.tier7{
    margin-left: 7em;
}

.indnt8,.tier8{
    margin-left: 8em;
}

.indnt9,.tier9{
    margin-left: 9em;
}

.indnt10,.tier10{
    margin-left: 10em;
}

.pad0{
    padding-left: 0;
}

/*SECTION 7 DATA PANELS*/
/*panels of normal text can have a header (ie - title) and a footer element (ie - metadata such as author, date, etc)*/
/*see synoptic view of announcements*/
h3.textPanelHeader,h4.textPanelHeader,h5.textPanelHeader, h6.textPanelHeader{
    font-size: 1em;
    color: #555;
    margin: 1em 1em .2em 0;
}

.textPanel{
    margin: .5em 0;
}

.textPanel > div.disc * {
    margin: inherit;
}

.textPanel > div.disc p {
    margin: 5px 0;
}

.textPanelFooter{
    font-size: 85%;
    margin: 0;
    color: #555;
    font-weight: normal;
}

/*for panels that "look" like forms but are read only ie. assignment preview - student view*/
/*see: preview an assignment - view the student view*/
.inopPanel {
    border: 1px solid #eee;
    padding: 1em;
    background: #fff url(https://owl.uwo.ca/library/skin/images/ib.gif) top left repeat;
}

/*to highlight info or controls in some high threshhold situations*/
/*do an assignment that requires honor code check as a student*/
.highlightPanel {
    margin: 1em 0;
    padding: .5em;
}

/*to isolate blocks of data in low threshhold situations*/
/*see admin / memory / status*/
.infoPanel{
    padding: .3em;
    width: 99%;
}

.infoPanelHead{
    padding: .3em;
}

/*for separating data blocks*/
hr.itemSeparator{
    height: 1px;
    border-style: solid;
    border-width: 1px 0 0 0;
}

/* SECTION 8 FORM ELEMENTS
	all form elements are formed by a label/input pair wrapped in a block - with JSF based tools it is another matter
	.shorttext - label / input (type=text)
	.filepicker - label / input (type=file)
	.longtext - label / textarea
	.checkbox - input (type=checkbox or radio)
	*/

/*	see: create a resource*/

.shorttext{
    clear:both;
}

#attachForm .shorttext label, #attachForm .filepicker  label{
    min-width: 19.5em;
}

.shorttext input.disabled{
    background:#eee
}
textarea{
    margin-top: .5em;
}

/*border that needs to match the background to avoid some tedious problems in IE	*/
.checkbox{
    margin: .2em 0;
}

/*certain longtext/label pairs need to display label and control on separate lines - their label is classed "block"*/
label.block{
    display: block;
}
/*all RT Editors should be composed of an iframe inside of a longtext div*/
/*bellow padding is to avoid FF ghost borders*/
.longtext iframe{
    padding: 0.2em 0em 0em 0em;
}

/*input type="file" are classed "upload" YMMV*/
input.upload{
}

/*some forms need to be displayed inline*/
.inlineForm{
    margin: 0;
    padding: 0;
    display: inline;
}

.inlineForm a{
    border: none;
    background-color: transparent;
}

/*SECTION 9 MISC*/
/*all purpose clearing action when nature of prec or following items floating nature is in doubt*/
.clear {
    margin: 1em 0;
    clear: both;
}

/*informational texts intended for screen readers - renders offscreen*/
.skip, .fl-offScreen-hidden {
    position: absolute !important;
    height: 0px; width: 0px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}
/*"inactive" gets applied to a container whose children you want to make look grayed out (not inactive per se) - applies to all textual elements and images
placeholder till more standard way of doing it*/
.inactive img{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50), progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) !important;
    opacity:.50 !important;
}
.inactive *
{
    color: #999 !important;
}
.inactiveBack, .inactiveBack:hover{
    background:#F7F7F7 !important;
}

/*external login form formatting*/
.login{
    margin: 5em auto;
    border: 1px solid #555;
    width: auto;
}

.login th{
    background-color: #eee;
    padding: .5em;
    border-bottom: 1px solid #555;
}

.login td.logo{
    width: 13em;
    background:#fff url(https://owl.uwo.ca/library/image/sakai.jpg) top left no-repeat
}

.login td.form, .login td.form{
    padding: .5em;
}

.loginform{
    color: #fff;
}

.loginform label{
    color: #fff;
}

.loginform td {
    padding: .3em;
    color: #fff;
}

.loginform td #eid, .loginform td #pw {
    padding:.2em;
    font-family:verdana, arial, helvetica, sans-serif;
    border: 1px solid #AAAAAA;
}

.loginform td #submit{
    color:#09C;
    float: right;
}

.loginform td .loginsubmit {
    color:#09C;
}

#login-choice {
    border-spacing: 0;
    text-align: center;
}

/*
Buttons dont have hover anymore
.loginform td #submit:hover{
	border: 1px solid #888;
	background-color: #eee;
}
*/

/*SECTION 10 JSF HACKS*/
/*Tools based on JSF have some unique rendering requirements dictated by the way jsf chooses to render standard html components*/
/* IE gives forms a top margin unless told not to
this affects jsf based tools*/
.portletBody form{
    margin-top: 0;
}

/*for jsf label/input pairs that need to be rendered in a table (because otherwise they will not work)*/
.jsfFormTable{
    padding: 0;
}

/*in order to get the label/imput pair to work in jsf, they need to be wrapped up in a table in
order to display them in the same cell they need to be wrapped in a h:panelGroup, which for some
 reason renders as a span. In order for the required star to "show" that span needs to be a block
  level element. So - if the input is required, add the "required" class to the h:panelGroup
   (in addition to the shorttext, checkbox or longtext classes) pant, pant...*/
.jsfFormTable .required{
    display: block;
    margin-left: -.2em;
}

.jsfFormTable td{
    padding: .3em 0;
    vertical-align: top;
}

.jsfFormTable td .reqStar{
    margin: 0 .2em 0 0;
}

.jsfFormTable td .labelindnt{
    margin-left: 17.5em !important;
}

.jsfFormTable td .shorttext {
    margin: 0;
}

.jsfFormTable td .shorttext .syllabusLabel{
    width: 17em;
    display: inline-block;
}

.jsfFormTable td .shorttext label{
    width: 17em;
}

.jsfFormTable td .required input {
    margin-left: -.6em;
}

/*since jsf multiple radio are rendered in a table, substract the padding of the parent td with a negative margin */
td table.checkbox {
    margin: 0;
}

/*so that the same table does not inherit the padding from the parent*/
td table.checkbox td{
    padding: 0;
}

/*SECTION 11 WIDGETS*/
/*list manager - two side by side select items,children of table.sidebyside*/
/*see: preferences / tab management or site info / create a group*/
.sidebyside{
}

.sidebyside th{
    padding: .3em;
    text-align: left;
    font-weight: normal;
}

.sidebyside td{
    padding: .3em;
}

.sidebyside select{
    width: 18em;
}
.sidebyside select.notsbs{
    width: auto;
}

/*messagecenter stuff*/
.msgAdvSearch {
    float:right;
}
.msgAdvSearch td{
}
.msgNav{
    float:right;
    text-align: right;
    white-space: nowrap;
}
.unreadMsg{
    font-weight: bold;
}

.bordered{
    border: 1px solid #000000;
    padding: 0.5em;
}
/*span surrounding folder icons - used to decorate them (new in dropbox, locked, etc.)
a fake border makes the icon and the title align for IE8*/
span.nil{
    border:0px solid transparent
}
span.nil a{
    border:0px solid transparent
}

/*any list (ul) of messages in a synoptic list view*/
.synopticList{
    margin:0;
    padding:0;
    list-style: none;
    height:100%;
    overflow: hidden;
}
/*a list item - children are h3.textPanelHeader, p.textPanelFooter, div.textPanel*/
.synopticList li{
    padding:0;
    margin:.5em 0 ;
}

.audioaudio {
    visibility: hidden\9;
    visibility: hidden\10;
}

.audioobject {
    visibility: hidden;
    visibility: visible\9;
    visibility: visible\10;
}

blockquote {
    background: #f9f9f9;
    border-left: 6px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

/*From https://github.com/trentrichardson/jQuery-Timepicker-Addon/blob/master/src/jquery-ui-timepicker-addon.css for lang-datepicker.js*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input { background: none; color: inherit; border: none; outline: none; border-bottom: solid 1px #555; width: 95%; }
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus { border-bottom-color: #aaa; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

.ui-timepicker-div span.ui-button-icon.ui-icon {top: 50%; left: 50%; }

/*jQuery Datepicker button class*/
.ui-datepicker-trigger{font-size:1em;margin-left: 4px;}
.ui-datepicker-trigger:hover{font-size:1em;}
.ui-datepicker-trigger span.fa{color:#000;}
.ui-datepicker-trigger:hover span.fa{color:#000;}






/* GRADEBOOK */
/* GRADEBOOK */
/* GRADEBOOK */
/* GRADEBOOK */
/* GRADEBOOK */
/* GRADEBOOK */

/* **************************************************************** *
 *                      Gradebook Grades styles                     *
 * **************************************************************** */

/* Fonts */
@font-face {
    font-family:"gradebook-icons";
    src:url(https://owl.uwo.ca/gradebookng-tool/fonts/gradebook-icons.eot);
    src:url(https://owl.uwo.ca/gradebookng-tool/fonts/gradebook-icons.eot?#iefix) format("embedded-opentype"),url(https://owl.uwo.ca/gradebookng-tool/fonts/gradebook-icons.woff) format("woff"),url(https://owl.uwo.ca/gradebookng-tool/fonts/gradebook-icons.ttf) format("truetype"),url(https://owl.uwo.ca/gradebookng-tool/fonts/gradebook-icons.svg#gradebook-icons) format("svg");
    font-weight:400;
    font-style:normal
}

/* Add Gradebook Item */
.gb-add-gb-item-button:before {
    font-family: "gradebook-icons";
    content: "\f067";
    vertical-align: text-bottom;
    margin-right: 4px;
}

.gb-create-or-save {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.gb-create-or-save + .gb-create-another {
    margin-left: -8px;
    border-radius: 0 3px 3px 0 !important;
}

.gb-create-another > .glyphicon {
    margin-top: -2px;   /* to compensate for top positioning and sibling button alignment */
}
.gb-add-gradebook-item-button {
    white-space: nowrap;
}

/* Toolbar */
#gradebookGradesToolbar {
    position: relative;
    background: #FAFAFA;
    font-size: 0.9em;
    overflow: visible;
    padding: 0 0.4em;
    width: 100%;
    margin: 0;
}
#gradebookGradesToolbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#gradebookGradesToolbar ul.gb-toolbar-left {
    float: left;
}
#gradebookGradesToolbar ul.gb-toolbar-right {
    float: right;
}
#gradebookGradesToolbar > ul > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    line-height: 40px;
}
#gradebookGradesToolbar > ul > li > * {
    line-height: initial;
}
#toggleGradeItemsToolbarItem:after {
    font-family: 'gradebook-icons';
    content: '\f078';
    font-size: 0.9em;
    margin-left: 6px
}
#toggleGradeItemsToolbarItem.on:after {
    content: '\f077';
}
#toggleCategories:before,
#toggleCategoriesToolbarItem:before {
    font-family: 'gradebook-icons';
    content: '\f096';
    font-size: 15px;
    margin-right: 6px;
    vertical-align: middle;
}
#toggleCategories.on:before,
#toggleCategoriesToolbarItem.on:before {
    content: '\f046';
}
#filterByGroup {
    width: 100%;      /* to prevent really long group names from widening the page */
}
#gradebookGradesToolbar .gb-item-summary.warn-items-hidden .gb-item-summary-counts {
    color: #CA7311;
    font-weight: bold;
}
/* Toolbar - Show/Hide grade items */
#gradebookGradesToolbar .gb-toggle-grade-items-panel {
    position: absolute;
    border: 1px solid #bdbdbd;
    min-width: 200px;
    max-width: 240px;
    min-height: 100px;
    max-height: 340px;
    top: 38px;
    background-color: #FFF;
    box-shadow: 1px 1px 2px #AAA;
    z-index: 200;
    overflow: auto;
    padding-right: 14px;
}
#gradeItemsTogglePanel .hide-me {
    display: none;
}
#gradeItemsTogglePanel input {
    margin-left: 20px;
    background-color: transparent;
    position: absolute;
    left: -100000px;
}
#gradeItemsTogglePanel label {
    cursor: pointer;
    display: block;
    margin: 0;
    position: relative;
    padding-right: 1.5em;
}
#gradeItemsTogglePanel label:hover {
    background-color: #FAFAFA;
}
#gradeItemsTogglePanel input:before {
    height: 16px;
    width: 16px;
    display: inline-block;
    content: "";
}
#gradeItemsTogglePanel .gb-item-category-filter label {
    font-weight: bold;
}
#gradeItemsTogglePanel .gb-item-filter label {
    font-weight: normal;
}
#gradeItemsTogglePanel .gb-item-category-filter .weighting {
    font-weight: 200;
    color: #999;
}
#gradeItemsTogglePanel .gb-item-filter-signal {
    height: 1.2em;
    width: 1.2em;
    border: 1px solid #EEE;
    background-color: #EEE;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.6em;
}
#gradeItemsTogglePanel .off .gb-item-filter-signal,
#gradeItemsTogglePanel .partial .gb-item-filter-signal {
    background-color: #FFF !important;
}
#gradeItemsTogglePanel .gb-item-category-filter,
#gradeItemsTogglePanel .gb-item-filter,
#gradeItemsTogglePanel .gb-item-category-score-filter {
    clear: both;
    margin-left: 10px;
    position: relative;
    min-height: 24px;
    display: flex;
    align-items: center;
}
#gradeItemsTogglePanel .gb-item-filter,
#gradeItemsTogglePanel .gb-item-category-score-filter {
    margin-left: 20px;
}
#gradeItemsTogglePanel .gb-no-categories .gb-item-filter {
    margin-left: 10px;
}
#gradeItemsTogglePanel .gb-item-category-score-filter label {
    font-style: italic;
}
#gradeItemsTogglePanel label {
    display: inline-block;
    width: 90%;
    width: calc(100% - 20px);
}
#gradeItemsTogglePanel .gb-filter-partial-signal {
    display: block;

    border-left: 1.2em solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 1.2em solid;
    border-bottom-color: inherit;
    margin-top: -1px;
    margin-left: -1px;
}
#gradeItemsTogglePanel #showAllGradeItems,
#gradeItemsTogglePanel #hideAllGradeItems {
    float: right;
    font-size: 0.9em;
    margin: 0 5px 0;
    border-bottom: none;
}
#gradeItemsTogglePanel .gb-item-filter-group {
    border-bottom: 1px dotted #DDD;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
#gradeItemsTogglePanel .gb-item-filter-group:last-child {
    border-bottom: none;
    margin: 0;
}
#gradeItemsTogglePanel .gb-item-filter-group .btn-group {
    padding-left: 5px;
}
#gradeItemsTogglePanel .gb-item-filter-group .btn-group .btn.dropdown-toggle {
    padding: 0 4px;
}
#gradeItemsTogglePanel .gb-item-filter .gb-show-this-item,
#gradeItemsTogglePanel .gb-item-filter.off .gb-hide-this-item,
#gradeItemsTogglePanel .gb-item-category-filter .gb-show-this-category,
#gradeItemsTogglePanel .gb-item-category-filter.off .gb-hide-this-category,
#gradeItemsTogglePanel .gb-item-category-score-filter .gb-show-this-category-score,
#gradeItemsTogglePanel .gb-item-category-score-filter.off .gb-hide-this-category-score {
    display: none;
}
#gradeItemsTogglePanel .gb-item-filter.off .gb-show-this-item,
#gradeItemsTogglePanel .gb-item-category-filter.off .gb-show-this-category,
#gradeItemsTogglePanel .gb-item-category-score-filter.off .gb-show-this-category-score {
    display: block;
}
#gradeItemsTogglePanel .dropdown-menu {
    max-width: 140px;
}
#gradeItemsTogglePanel .dropdown-menu a {
    white-space: normal;
    padding: 3px 10px;
}

/* Wicket Overrides */
div.wicket-modal div.w_content_3 {
    border: none; /** don't want border wrapping content inside the modal **/
}
div.wicket-modal h3.w_captionText {
    padding: 20px;
    font-size: 1.5em;
    position: relative;
    height: auto;
}
div.wicket-modal div.w_caption {
    min-height: 60px;
    height: auto;
}
div.wicket-mask-dark {
    background-color: #FFF;
    opacity: 0.6;
    filter: alpha(opacity=6);
}
.gb-blur {
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
    filter: url(https://owl.uwo.ca/gradebookng-tool/styles/blur.svg#blur);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
div.wicket-mask-transparent {
    opacity: 0.1;
    background-color: black;
    filter: alpha(opacity=10);
}
/* IE9-11 does not support a blur filter. As such, we fallback to an opaque mask */
/* Note: IE8 and below are not supported as Bootstrap does not support IE8 */
/* IE9 blur fallback */
body:nth-child(n) div.wicket-mask-dark {
    filter: alpha(opacity=\95);
    background-color: \#000;
}
/* IE10+ blur fallback */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    div.wicket-mask-dark {
        opacity: 0.95;
        background-color: #000;
    }
}
div.wicket-modal div.w_content_container {
    /* give wicket model content some padding */
    padding: 0 20px 20px;
}
div.wicket-modal div.w_content_container > div > h2:first-child,
div.wicket-modal div.w_content_container > div > form > h2:first-child {
    /* remove the large morpheus top padding and margin from the first header element */
    padding: 0 0 20px;
    margin: 0 0 20px;
    border-bottom: 1px solid #EEE;
}
/* override Bootstrap for the date picker */
div.wicket-modal div.w_content_container .input-group-btn button {
    font-size: 12px;
    height: 30px;
}
div.wicket-modal div.w_content_container .input-group-btn button > .glyphicon {
    top: -1px;
}

div.wicket-modal .w_topLeft,
div.wicket-modal .w_top,
div.wicket-modal .w_topRight,
div.wicket-modal .w_bottomLeft,
div.wicket-modal .w_bottom,
div.wicket-modal .w_bottomRight {
    background-image: none !important;
}
div.wicket-modal div.w_left,
div.wicket-modal div.w_right {
    background-image: none !important;
}
div.wicket-modal a.w_close {
    margin: 6px;
}
div.wicket-modal div.w_caption {
    cursor: move;
}
div.wicket-modal div.w_right > div {
    box-shadow: 0 0 5px 2px #444;
}

/* OWL-3679 - port gradebook modifications - port and enhance OWL-2624 - override bootstrap negative margins */
div.wicket-modal .form-horizontal .form-group,
div.wicket-modal .gb-grade-summary-content .gb-summary-grade-panel .row
{
    margin-left: 0;
    margin-right: 0;
}

/** temporary override for page width **/
.Mrphs-pageColumns--single {
    max-width: none !important;
}

/* grade log formatting */
.grade-log-item-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
}

.grade-log-item {
    margin-bottom: 5px;
}

/* Datepicker */
.ui-datepicker {
    z-index: 50000 !important;
}


/* Update Ungraded modal */
.gb-update-ungraded-confirmation.in {
    position: absolute;
    right:0;
    bottom: auto;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.gb-update-ungraded-confirmation {
    z-index: 50000 !important;
}
.gb-update-ungraded-confirmation .modal-dialog {
    z-index: 50001 !important;
}

.gb-group-title {
    font-weight: bold;
    line-height: 3em;
}

/* Live feedback message container */
.gb-live-feedback {
    display: inline-block;
    padding: 4px;
    font-size: 12px;
    line-height: 35px;
    color: #666;
    margin: 0 0 0 10px;
}

/* Connection Poll message */
#gbConnectionTimeoutFeedback {
    position: fixed;
    z-index: 99999999;
    top: 80px;
    padding: 5px;
    box-shadow: 1px 1px 5px #999;
    font-size: 12px;
    width: 350px;
    margin-left: -175px;
    left: 50%;
}

#gbConnectionTimeoutFeedback:before {
    font-family: "gradebook-icons";
    content: "\f071";
}

/* Summary styles */
#instructorView.tab-pane,
#studentView.tab-pane {
    border-top: 1px dotted #EEE;
    margin-top: 20px;
    padding-top: 20px;
}
.gb-summary-grade-score-outof {
    color: #999;
}
.gb-summary-grade-panel {
    position: relative;
}
.gb-summary-grade-panel .gb-summary-category-row td:first-child {
    font-weight: bold;
}
.gb-summary-grade-panel .gb-summary-grade-row td:first-child {
    padding-left: 34px;
}
.gb-summary-grade-panel .gb-no-categories .gb-summary-grade-row td:first-child {
    padding-left: 0;
}
.gb-summary-grade-duedate,
.gb-summary-grade-score,
.gb-summary-grade-weight,
.gb-summary-category-grade,
.gb-summary-category-weight {
    text-align: center;
}
.gb-summary-grade-panel .gb-summary-course-grade {
    margin: 0 0 10px 1px;
}
.gb-summary-grade-panel .gb-summary-course-grade .panel {
    margin-bottom: 0;
}
.gb-summary-grade-panel .gb-summary-course-grade .panel-body {
    padding: 8px 15px;
}
.gb-summary-grade-panel .gb-summary-course-grade-label {
    padding-right: 10px;
}
.gb-summary-grade-panel .gb-summary-expand-all {
    padding-right: 8px;
}
.gb-summary-grade-panel .gb-summary-category-toggle,
.gb-summary-grade-panel .gb-summary-category-toggle:hover,
.gb-summary-grade-panel .gb-summary-category-toggle:active {
    text-decoration: none;
    display: flex;
}
.gb-summary-grade-title {
    font-weight: normal;
}

.gb-summary-grade-score sakai-rubric-student-button {
    float: right;
}

.gb-summary-grade-panel .gb-summary-grade-stats, .gb-summary-grade-panel .gb-summary-grade-stats:hover {
    text-decoration: none;
}

.gb-summary-grade-panel .gb-summary-grade-stats:before {
    font-family: 'gradebook-icons';
    content: '\f080';
    text-decoration: none;
    font-weight: normal;
}

.gb-summary-grade-panel .gb-summary-category-toggle:before {
    font-family: 'gradebook-icons';
    content: '\f078';
    padding-right: 5px;
    width: 24px;
    text-align: center;
}
.gb-summary-grade-panel .gb-summary-category-toggle.collapsed:before {
    content: '\f054';
}
.gb-summary-navigate-students {
    margin-bottom: 20px;
}
.gb-summary-previous-student {
    float: left;
    padding-left: 20px;
    margin-bottom: 10px;
}
.gb-summary-previous-student:before {
    font-family: 'gradebook-icons';
    content: '\f060';
    padding-right: 4px;
}
.gb-summary-next-student {
    float: right;
    padding-right: 20px;
    margin-bottom: 10px;
}
.gb-summary-next-student:after {
    font-family: 'gradebook-icons';
    content: '\f061';
    padding-left: 4px;
}
.gb-grade-summary-content .tabpanel {
    display: block;
    margin-top: 10px;
}
.gb-summary-grade-panel {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
    margin: 0 0 10px;
    border-bottom: 1px solid #DDD;
}
.gb-summary-grade-panel .gb-summary-grade-flags {
    padding-left: 10px;
    float: right;
}
.gb-summary-not-released-flag,
.gb-summary-not-released-message {
    color: #888;
}
#studentGradeSummary {
    margin: 30px 0 0;
}
.gb-grade-summary-close-confirmation {
    z-index: 50000 !important;
}
.gb-grade-summary-close-confirmation .modal-dialog {
    z-index: 50001 !important;
}
.gb-summary-print {
    position: absolute;
    top: 15px;
    right: 10px;
}
.gb-summary-print:before {
    font-family: 'gradebook-icons';
    content: '\f02f';
    padding-right: 4px;
}
#studentGradeSummary .table>tbody+tbody {
    border-width: 1px;
}
#studentGradeSummary .table>tbody.gb-summary-assignments-tbody+tbody.gb-summary-category-tbody {
    border-width: 2px;
}
.gb-summary-category-row td,
.gb-summary-category-row th {
    background-color: #F4F4F4;
}
.gb-summary-grade-comments div{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:100px;
}

#gradebookGrades .gb-student-number-cell
{
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    text-align: center;
}

#gradebookGrades .gb-student-number-cell .gb-title
{
    text-align: left;
}

.gb-summary-grade-score-dropped
{
    background-image: repeating-linear-gradient(135deg, #eee, #eee 5px, #fff 5px, #fff 10px);
    position: relative;
}

.gb-summary-grade-score-dropped .gb-summary-grade-score-raw,
.gb-summary-grade-score-excused .gb-summary-grade-score-raw
{
    text-decoration: line-through;
}

.gb-summary-grade-category-dropInfo
{
    font-size: 0.9em;
    color: #999999;
    font-weight: normal;
    margin: 0 0 0 24px;
}

.gb-summary-grade-category-dropInfo span
{
    white-space: nowrap;
}

.gb-summary-grade-category-col-dropInfo
{
    font-size: 0.9em;
    color: #999999;
    font-weight: normal;
    margin: 0;
}

.gb-noGbItems
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    font-size: 20px;
    text-align: center;
    color: #666;
    background-color: #eee;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: empty;
}
.gb-noGbItems > i
{
    display: block;
    font-size: 3em;
}

.gradeTableOuterWrapper
{
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: grades;
}

.gradesToolbar1
{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.gradesToolbar1 .captionToggleContainer
{
    margin-left: auto;
}

.captionToggleContainer {
    display: flex;
    align-items: center;
}

.gradesToolbar2
{
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: toolbar2;
}

.gradeTableArea
{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-areas:
    "toolbar1 toolbar1"
    "toolbar2 toolbar2"
    "grades empty";
}

#gradeTableWrapper
{
    background-color: #eee;
}

@media all and (max-width: 1024px)
{
    .gradeTableArea
    {
        display: block;
    }

    .gradeTableArea #gradebookGradesToolbar
    {
        margin-top: 0;
    }

    .gb-noGbItems div.act
    {
        padding-bottom: 0;
    }

    .gradeTableArea .gradeTableOuterWrapper
    {
        border-right: none;
    }
}

@media all and (max-width: 640px)
{
    .gb-noGbItems
    {
        font-size: 1em;
    }
}

.gb-noStudents
{
    position: absolute;
    top: calc(30vh + 58px - 0.5em);
    z-index: 100;
    width: 100%;
    text-align: center;
    line-height: 1em;
    font-size: 16px;
    color: #666;
}

.gradeTableOuterWrapper
{
    border-right: 1px solid #ddd;
    position: relative;
}

.gb-noGbItems button.active
{
    font-size: 14px;
}

div.wicket-modal {
    z-index: 999 !important;
    max-width: 100%;
    position: absolute;
}

div.wicket-mask-transparent, div.wicket-mask-dark {
    z-index: 998 !important;
}

.form-vertical div.awesomplete {
    width: 100%;
    margin-bottom: 15px;
}

/* OWL */
.gb-lazyLoadGradeTable {
    display: flex;
    justify-content: center;
}

.gb-lazyLoadGradeTable .spinButton {
    width: 16px;
    height: 50vh;
}



/*forum*/
/*PART 1 - FORUM AND TOPIC LISTINGS*/
.forumHeader{
    /*panel holding all forum metadata in forum list view*/
    width: 100%;
    background: #F8F8F3;
    border: 1px solid #D9C9A7;
    margin-bottom: 0;
    margin-top: 1em;
}
.forumHeader td{
    /*inner container forum metadata in forum list view*/
    padding: .25em .5em;
    vertical-align: text-top;
}
.forumHeader td .title{
    /*forum title in forum list view*/
    font-weight: bold;
    font-size: 1.3em;
}
.forumHeader .actionLinks,.topicBloc .actionLinks{
    /*a spacer between title + metadata and the links*/
    padding-left: 1em;
}
.topicBloc a.show,.topicBloc a.hide,.forumHeader a.show,.forumHeader a.hide,.singleMessage a.show,.singleMessage a.hide, .singleMessageReply a.show,.singleMessageReply a.hide{
    /*show and hide descr links in various places*/
    /*	color: #f55 !important;*/
    font-size: 95%;
    text-decoration: none !important;
    margin: .4em 0;
    vertical-align: middle;
}
.topicBloc a.show img,.topicBloc a.hide img,.forumHeader a.show img,.forumHeader a.hide img, .singleMessage a.show img,.singleMessage a.hide img,  .singleMessageReply a.show img,.singleMessageReply a.hide img{
    /*image associated with show and hide descr links in various places*/
    vertical-align: middle;
    padding: 2px 0;
}
.toggle{
    /*	long description toggled container*/
    padding-left:0;
    font-size: .92em;
    line-height: 1.5em;
}
.toggle .textPanel {
    -ms-word-break: break-word;
    word-break: break-word;
}
.topicBloc{
    /*inner container topic metadata in forum list view, or single topic view*/
    border-left: 2px solid #fc6;
    width: 80%;
    padding: 0 .5em;
    margin: 0;
}
.topicBloc td{
    padding-left: .5em;
    padding-top: .5em;

}
.topicBloc td td{
    padding-left: 0;
}

.singleMessage .title, .singleMessageReply .title, .topicBloc .title,.pendingApproval .title{
    /*	title for all the above cases*/
    font-weight: bold;
    font-size: 1.2em;
}
.forumHeader .shortDescription,.topicBloc .shortDescription{
    /*	short description whenever one occurs - do not use padding */
    display: block;
    margin: .5em 0;
    font-size:.85em;
    -ms-word-break: break-word;
    word-break: break-word;
}
.messageNew{
    color: #000;
    font: .84em/1em verdana, arial,sans-serif;
    background: #fe9;
    outline:1px solid #fff;
    padding: 1px 2px;
    margin-right: 5px;
    /*	display:none; - uncomment to hide the "new" message */
}
.childrenNewNumber{
    margin-left: 5px;
}
.childrenNew{
    color: #e90;
    font-size:87%;
    font-weight:bold;
    padding: 1px 2px;
    /*	display:none; - uncomment to hide the message associated with parents of new messages*/
}


.childrenNewZero {
    color: #555555;
    font-size: 85%;
    font-weight: normal;
    margin-left: 5px;
}

#messNavHolder{
    float:none;
    display:block;
    line-height: 2em;
    height:100%;
    overflow:hidden;
    padding:2px 0;
    margin:.3em 0;
    clear:both;
}
.jumpToNew{
    padding:2px;
}
.jumpToNew a {
    border:1px solid #ccc;
    padding:3px;
    padding-left:18px;
    background: #eee url(../images/silk/arrow_down.png) center left no-repeat;
}
.markAllAsRead {
    border:1px solid #ccc;
    padding:3px;
    padding-left:30px;
    background: #eee url(../images/markAsRead.gif)  5px center no-repeat;
}

.topicIcon{
    /*	display:none; 	comment to hide blue or orange speech balloons by topics in Forum list view */
}
/* PART 2 - TOPIC/THREAD VIEWS*/
.messagePending{
    background: #bf9;
    font: .84em/1em verdana, arial,sans-serif;
    color: #000;
    outline:1px solid #fff;
    padding: 1px 2px;
    margin-right: 5px;
}
.messageDenied{
    color: #000;
    font: .84em/1em verdana, arial,sans-serif;
    background: #f9a;
    outline:1px solid #fff;
    padding: 1px 2px;
    margin-right: 5px;
}

.Mrphs-sakai-forums #msgForum a.button.markAsReadIcon{
    cursor: pointer;
    margin-left:.5em;
    position:relative;
}

.Mrphs-sakai-forums #msgForum a.button.markAsReadIcon::before{
    content: "";
    position:absolute;
    background: url('../images/silk/email.png') 0 center no-repeat;
    width: 20px;
    height: 16px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.Mrphs-sakai-forums #msgForum a.markAsReadIcon:hover::before{
    background-image: url('../images/silk/email_open.png');
}
.messagesFlat,.messagesThreaded{
    margin: 10px 0;
    table-layout: fixed;
    width: 100%;
}
.messagesFlat  tbody tr div,.messagesThreaded tbody tr div{
    border: none
}
.messagesFlat tbody tr td div.hierItemBlock,.messagesThreaded tbody tr td div.hierItemBlock{
    padding: 0 10px;
    border-left: 2px solid #cd5 !important;
    margin: 10px;
}
.messagesThreaded tbody tr td{
    padding-top: 0;
    padding-bottom: 0;
}
.messagesThreaded tbody tr td div.hierItemBlock .textPanel{
    clear: both;
    overflow-x: auto;
}
.messagesFlat div.textPanel {
    overflow-x: auto;
}
.titleBarBorder{
    /*create an underline under message title + metadata in view body thread view*/
    background: #fff;
    margin: 2px 0 0 0;
}
.messagesThreaded tbody tr.hierItemBlock td.bogus:first-child{
    /*first message in thread in visible body view*/
    border-left: 2px solid #69d;
    width: 100%;
}
.messagesThreaded tbody tr.hierItemBlock td.bogus:first-child > div{
    margin: 0;
    border: none !important;
}
.messagesFlat tbody .title,.messagesThreaded tbody .title{
    font-weight: bold;
    font-size: 1.1em;
}

.allMessages .messageTitle .firstChild{
    /*first post in a thread in topic listing (no body)*/
}
.allMessages .hierItemBlock .messageTitle .firstChild{
    /*first post in a thread in topic listing ( + body) */
}

.allMessages td.attach{
    vertical-align:middle;
}
.allMessages .anonymousAuthor{
    font-size:1.2em;
}
.pendingApproval{
    /*listing of a message pending aproval*/
    border-left: 2px solid #ccc;
    margin: 0;
}
/*PART 3 - SINGLE MESSAGE DISPLAY*/
.singleMessage{
    /*title + metadata block of a single message display*/
    border-left: 2px solid #69d;
    background:#f9f9f9;
    margin-top: 1em;
    padding:.3em  .5em;
}
.singleMessage .textPanel {
    /* so non-breaking wide message content doesn't stretch the page */
    overflow-x: auto;
}
.singleMessageReply{
    /*title + metadata block of a single message display*/
    border:1px solid #ccc;
    background:#ffe;
    margin-top: 1em;
    padding:.3em  .5em;
}
table.messageActions {
    /*single message action links top container*/
    background: #eee;
}
table.messageActions td{
    /*single message action links inner container*/
    padding: 6px;
    vertical-align: middle;
    background: #eee;
}
.messageActions a{
    /*single message action links*/
    text-decoration: none !important;
    border: 1px solid #ccc !important;
    background: #fff;
    padding: 2px 5px;
    vertical-align: middle;
    margin: 0 .3em .3em 0;
    display: inline-block;
}
.messageActions a span{
    white-space: nowrap;
}
.messageActions a:hover{
    border: 1px solid #555  !important;
    text-decoration: none !important;
}
#permalinkHolder{
    border:1px solid #ccc;
    display:none;
    background:#ffe;
    position:absolute;
    padding:5px;
    z-index: 1;
}

#permalinkHolder a{
    font-weight:bold;
    top:0;right:4px;
    outline:none;padding:0;
    display:block;
    float:right;
}

#permalinkHolder textarea{
    width: 100%;
    height: 200px;
}
.messageActions td.otherOtherActions {
    /*rightmost column of single message action links - not used*/
    text-align: right;
}
.messageActions a img{
    vertical-align: middle;
}
/*PART $ MESSAGE TYPES */
.messageAlert{
    list-style: none;
    background: #FFEEEE url(../images/exclamation.gif) 5px 5px no-repeat;
    border: 1px solid #FF5555;
    color: #FF5555;
    margin: .5em 0;
    padding: 4px 0 4px 2em;
}
.messageInformation{
    background: #ffe url(../images/asterisk_yellow.gif) 5px 5px no-repeat;
    border: 1px solid #d93;
    color: #d93;
    margin: .5em 0;
    padding: 4px 0 4px 2em;
}
.messageComfirm{
    background: #cd5 url(../images/accept.gif) 5px 5px no-repeat;
    border: 1px solid #790;
    color: #779900;
    margin: .5em 0;
    padding: 4px 0 4px 2em;
}
span.messageAlert,span.messageInformation,.messageComfirm{
    padding-right: 1em;
}
/*utils, special cases, sakai overrides*/
.upLevel{
    /*go up one level link, uncomment to show*/
    /*display:none*/
}
td.attach{
    vertical-align: middle;
    padding: 2px 0;
}
td div.title{
    font-weight: bold;
    font-size: 1.3em;
}
.unreadMsg a:link,.unreadMsg a:visited{
    color: #f55 !important;
    text-decoration: none;
}
.selChanged{
    /*flag an item as changed in organize view*/
    border: 1px solid #aaa;
    background-color: #fc6;
}
.attachPanel{
    /*panel listing attachmetns when in edit mode for forum/topic/message*/
    border: 1px solid #eee;
    background: #fff;
    font-size: 1em;
}
.attachPanel tr:hover{
    background: none !important;
}
.attachPanel th{
    background: #ffe;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-weight: normal;
    padding: .2em .5em;
}
.attachPanel td{
    padding: .2em .5em;
    vertical-align: top;
}
.attachPanel td.attach{
    width: 1em;
}
.permissionTable {
    width: 675px;
}
.permissionRoleLabel {
    display:inline-block;
    width:14em;
}

.permissionPanel > table {
    padding-top: .3em;
}

.permissionPanel td{
    padding-left: 1em;
    vertical-align:top;
}

.permissionPanel .checkbox {
    display:block;
    border: none;
}

.permissionRadioGroup {
    border: 1px solid #aaa;
    display:block;
    padding:.3em;
}

.permissionRow .ui-icon { display: inline-block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; vertical-align:bottom; }
.permissionRow .ui-icon { width: 16px; height: 16px; background-image: url(ui-lightness/images/ui-icons_222222_256x240.png); }
.permissionRow .ui-icon-triangle-1-s { background-position: -64px -16px; }
.permissionRow .ui-icon-triangle-1-e { background-position: -32px -16px; }
.permissionRow .ui-accordion-content { background: #eee; border: 1px solid #ccc; }
.permissionRow span.ui-accordion-header {
    margin: 0 0 0.5em 4em;
    display:inline-block;
}
.permissionRow .ui-accordion-header.ui-state-active {
    border-bottom:none;
}

table.discTria{
    /*some adjustments to sakai discTria - to make whole clickable looking*/
    border: none;
    background: #ddd;
    border:1px solid #ddd
}
table.discTria h4{
    display: inline;
    margin: 0;
    padding: 3px;
}
table.discTria img {
    vertical-align: middle;
}
table.discTria:hover{
    cursor: pointer;
    border:1px solid #aaa
}
.discTria{
    background: transparent;
}
.inactive{
    color: #aaa;
}
.printBlock{
    /*top  most parent of any printable block - used in print previews/pretty prints*/
    margin: 1em;
    padding: .5em;
    font-size: 93%;
    font-family: Georgia,"Times New Roman",Times,serif;
    line-height:1.5em;
}
.printTable td{
}

.printBlock .textPanel a{

}
.printBlock .textPanel  a:after{
    content: " (" attr(href) ")";
}


.printTable td .title{
    font-weight: bold;
}
.printBlock .bordered{
    border-color: #ccc;
}
.printBlock .messagePending{
    background: #ccc;
    color: #000;
    padding: 2px;
    margin-right: 5px;
    border: 1px solid #000;
}
.printBlock .messageDenied{
    color: #fff;
    background: #000;
    padding: 3px;
    margin-right: 5px;
}

.messageMetadata{
    padding:1px 0;
}

a .textPanelFooter{
    color: inherit;
}

.lastRevise{
    margin:.3em 0;
    padding:.3em 0;
}
form{margin-bottom:0;}

.messageCommentWrap{
    border:1px solid  #ddd !important;
    background: #ffd;
    padding:3px 5px;
    margin-bottom:10px
}
.messageCommentMD{
    font-size:.9em;
    text-decoration: underline;
    margin-bottom:3px
}
.messageCommentBody{
}
.threadMovedMsg{
    font-size:1em;
    color:#555555;
}
.calWidget{
    vertical-align:middle;
}
.calWidget img{
    vertical-align:middle;
    margin-right:3em
}
.authorImage {
    float: left;
    display: block;
    text-align: center;
    padding-right: .25em;
    padding-bottom: .3em;
}
.authorImage img{
    max-width: 8em;
    max-height: 5em;
}
.singleMessage .authorImage img{
    max-width: 5em;
    max-height: 4em;
}
img.authorImage {
    display: inline-block;
    float: none;
    max-width: 3.5em;
    max-height: 2.5em;
    width: auto !important;
    vertical-align: bottom !important;
}
.anonymousAuthor {
    font-family: Consolas,monaco,"Lucida Console","Lucida Sans Typewriter","Bitstream Vera Sans Mono","Andale Mono",AndaleMono,monospace;
    font-size: 1.2em;
}
.moreMenuLink span{
    padding-right:15px;
    background:transparent url(../images/silk/bullet_arrow_down.png) bottom right no-repeat;

}
.moreMenu{
    background:#fff;
    list-style:none;
    margin:0;
    padding:0px;
    border:1px solid #ccc;
}
.moreMenu li{

}
.moreMenu li a{
    display:block;
    padding:5px;
}
.moreMenu li a:hover{
    background:#eee;
    text-decoration:none;
}
div.msgcntr-profile-qtip {
    max-height: 220px;
    max-width: 640px;
    background-color: #fff;
}
.qtip-content .profile2-profile-content{
    float: right;
    overflow: auto;
    max-height: 200px;
}
.createTopicsForGroupsPanel {
    margin-left: 3em;
    margin-top: 0.3em;
    display: block;
}

.createForumsForGroupsPanel {
    margin-left: 3em;
    margin-top: 0.3em;
    display: block;
}

.navIntraTool li span a img,.navIntraTool li {
    vertical-align: middle;
}

#buttonBlocker,.buttonBlocker {
    z-index:2;
    display:none;
    padding:0 8px;
    background: transparent url(../images/trans.gif) top left repeat;
    opacity:0;
    position:absolute
}
#buttonBlocker:hover, .buttonBlocker:hover {
    cursor:progress;
}

.forumsRank {
    min-height: 35px;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

.forumsRank .rankImage {
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    margin:0 5px 0 0;
}

.forumsRank .forumsRankNameContainer {
    display: inline-block;
}

.forumsRank .forumsRankNameContainer .forumsRankName {
    color: #000000;
    font-size: 0.95em;
    padding: 0 !important;
    text-align: left;
    margin: 0;
    display: block;
}

.disable_a_href{
    pointer-events: none;
}

#msgForum\:grade-message-options{
    width: 100%;
}

#msgForum\:grade-message-options label{
    width: 25%;
    display:inline-block;
}
#msgForum\:assignment{
    margin-right: 0.5em;
}

/* Styles for synoptic */
#synopticForm\:myWorkspaceUnread\:myWorkspaceTable{
    width:auto;
    table-layout:fixed;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable th{
    white-space: normal;
    vertical-align: initial;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable .messagesHeader{
    width:20%;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable .forumsHeader{
    width:20%;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable .siteHeader{
    width:60%;
}

/* Styles for modal */
.close-button {
    float: right;
    cursor: pointer;
    font-size: 20px !important;
}

#revise\:closeDateSpan #revise\:closeDate, #revise\:openDateSpan #revise\:openDate {
    width: auto;
    margin-left: 10px;
}

.openDateSpan {
    display: block;
}
