.Mrphs-sakai-announcements .message-body {
    background-color: #f9fbfd !important;
    border: 1px solid #e3ebf6 !important;
}

/*#linkNav ul li.Mrphs-sitesNav__menuitem.is-selected .link-container:active {*/
/*    background: #5909d4 !important;*/
/*}*/

.subpage-breadcrumb-div {
    margin-bottom: 1.5rem !important;
    box-shadow: 0 0.75rem 1.5rem rgb(239 239 239) !important;
    padding: 10px 10px 10px 30px !important;
    border-radius: 3px !important;
    border: solid 1px #edf2f9 !important;
}

/* Disabled button */
button.btn-primary[disabled="disabled"], .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="disabled"], .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="disabled"], button.btn-primary[disabled="disabled"]:hover, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="disabled"]:hover, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="disabled"]:hover, button.btn-primary[disabled="disabled"]:active, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="disabled"]:active, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="disabled"]:active, button.btn-primary[disabled="disabled"]:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="disabled"]:focus, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="disabled"]:focus, button.btn-primary[disabled], .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled], .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled], button.btn-primary[disabled]:hover, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled]:hover, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled]:hover, button.btn-primary[disabled]:active, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled]:active, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled]:active, button.btn-primary[disabled]:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled]:focus, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled]:focus, button.btn-primary[disabled="true"], .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="true"], .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="true"], button.btn-primary[disabled="true"]:hover, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="true"]:hover, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="true"]:hover, button.btn-primary[disabled="true"]:active, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="true"]:active, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="true"]:active, button.btn-primary[disabled="true"]:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[disabled="true"]:focus, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[disabled="true"]:focus, button.btn-primary[class="disabled"], .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[class="disabled"], .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[class="disabled"], button.btn-primary[class="disabled"]:hover, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[class="disabled"]:hover, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[class="disabled"]:hover, button.btn-primary[class="disabled"]:active, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[class="disabled"]:active, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[class="disabled"]:active, button.btn-primary[class="disabled"]:focus, .Mrphs-sakai-samigo .dataTables_wrapper .dataTables_paginate span .btn-primary.paginate_button[class="disabled"]:focus, .Mrphs-sakai-samigo .btn-primary#authorIndexForm\:remove-selected[class="disabled"]:focus, .act .active[disabled="disabled"], .act .active[disabled="disabled"]:hover, .act .active[disabled="disabled"]:active, .act .active[disabled="disabled"]:focus, .act .active[disabled], .act .active[disabled]:hover, .act .active[disabled]:active, .act .active[disabled]:focus, .act .active[disabled="true"], .act .active[disabled="true"]:hover, .act .active[disabled="true"]:active, .act .active[disabled="true"]:focus, .act .active[class="disabled"], .act .active[class="disabled"]:hover, .act .active[class="disabled"]:active, .act .active[class="disabled"]:focus {
    background: #f2f2f2 !important;
    color: #4c4b4b !important;
    border:  solid 1px #edf2f9 !important;
}


.progress-bar.progress-bar-empty {
    background-image: radial-gradient(circle 1224px at 10.6% 8.8%, rgba(255, 255, 255, 1) 0%, rgba(153, 202, 251, 1) 100.2%) !important;
}

.progress-bar.progress-bar-active.progress-bar-active {
    background-image: radial-gradient(circle 523px at 7.1% 19.3%, rgba(147, 15, 255, 1) 2%, rgba(5, 49, 255, 1) 100.7%) !important;
}


.Mrphs-sakai-lessonbuildertool .portletBody .column {
    background-clip: border-box !important;
    border: 1px solid #edf2f9 !important;
    border-radius: .5rem !important;
    box-shadow: 0 .5rem 1rem rgba(18, 38, 63, .15) !important;
}

/* hover link bg*/
#toolMenu ul li .Mrphs-toolsNav__menuitem--link:hover, #toolMenu ul li .Mrphs-toolsNav__menuitem--link:focus, #subSites ul li .Mrphs-toolsNav__menuitem--link:hover, #subSites ul li .Mrphs-toolsNav__menuitem--link:focus,
#linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:hover, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:active, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem .Mrphs-sitesNav__submenuitem-link:focus, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:hover, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:active, #linkNav ul li.Mrphs-sitesNav__menuitem .Mrphs-sitesNav__submenu .Mrphs-sitesNav__submenuitem a:focus {
    background: #faf1fd !important;
}


.Mrphs-toolsNav__menuitem--link:active {
    font-weight: 600 !important;
    background: #dbc6f6 !important;
}

/** Forms */
.form-control {
    display: block !important;
    width: 100% !important;
    padding: .375rem .75rem !important;
    font-weight: normal !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 2px solid #dde2ec !important;
    border-radius: 4px !important;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}




/*ghost white*/
.table > thead > tr > th {
    background-color: #f9fbfd !important;
}

.form-control:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: var(--purple-nav-bg-color) !important;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.Mrphs-multipleTools .Mrphs-toolTitleNav .Mrphs-toolTitleNav__title {
    color: var(--text-color) !important;
    font-size: 1.2em !important;
}

.form-control::-webkit-input-placeholder {
    color: #636c72 !important;
    opacity: 1 !important;
}

.form-control::-moz-placeholder {
    color: #636 !important;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #636c72 !important;
    opacity: 1 !important;
}

.form-control::placeholder {
    color: #636c72 !important;
    opacity: 1 !important;
}


.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef !important;
    opacity: 1 !important;
}

#mastLogin #loginForm {
    border-left: 1px solid #5f5f5f;
    padding-left: 15px !important;
    margin-left: 15px !important;
}

